body{

}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-image: url("images/img_01.jpg");
}
.header1{
    position: relative;
    left: 6vw;
}
#guesth1{
    position: relative;
    left: 45vw;
}
.contents{
    position: relative;
    right: 4vh;
}
.text_cover{
    position: relative;
    bottom: 10vh;
    width: 50vw;
}
.login__cover {
    display: flex;
    justify-content: center;
    height: 60%;
    width: 41%;
    border: solid darkgrey;
    background-color: #badce3;
}
.button__cover{
    position: relative;
    left: 7vw;
    top: 4vh;
}
#login{
    position: relative;
    left: 3vw;
    bottom: 6vh;
    width: 50%;
}

#newacc{
    position: relative;
    width: 40%;
}
#guestUser{
    position: relative;
    width: 36%;
}
.general{
    display: flex;
    height: 40vh;
}
.gene{
    width: 20vw;
    height: 30vh;

}
.tbl{
    width: 85vh;
    position: relative;
    top: 8vh;
}
.lbl{
    position: relative;
    left: 30vh;
}